<!DOCTYPE html>
<html lang="eng">
<head>

</head>
 <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
 <!--root-level page css link-->
 <link rel="stylesheet" href="assets/css/styles.css">
 <!--folder page css link-->
    <link rel="stylesheet" href="../assets/css/styles.css">

    <title>Insert Title Here</title>

</html>
<Body>

<!-- Navigation -->
<nav>

    <!-- Home -->
    <a href="../index.html">Home</a>

    <!-- About Drop Down -->
    <div class="dropdown">
        <span class="nav-label">About</span>
        <div class="dropdown-content">
            <a href="../me/about.html">About Me</a>
            <a href="../interests/interests.html">Days & Detours</a>
            <a href="../me/goals.html">Goals</a>
        </div>
    </div>

    <!-- Books Drop Down -->
    <div class="dropdown">
        <span class="nav-label">Books</span>
        <div class="dropdown-content">
            <a href="../books/books.html">Books</a>
            <a href="../books/bookblog.html">Blog</a>
            <a href="../books/completed.html">Completed</a>
            <a href="../books/wishlist.html">Wishlist/TBR</a>
        </div>
    </div>

    <!-- Travel Drop Down -->
    <div class="dropdown">
        <span class="nav-label">Travel</span>
        <div class="dropdown-content">
            <a href="../travel/travel.html">My Travels</a>
            <a href="../travel/travelblog.html">Travel Blog</a>
        </div>
    </div>

    <!-- More Drop Down -->
    <div class="dropdown">
        <span class="nav-label">More</span>
        <div class="dropdown-content">
            <a href="../projects/projects.html">Projects</a>
        </div>
    </div>

</nav>

<!--More/Other Drop Dwon-->
    <div class="dropdown">
        <span class="nav-label">More</span>
        <div class="dropdown-content">
        <a href="../projects/projects.html">Projects</a>
        </div>
    </div>
</nav>

<h1>TITLE</h1>
<h2>COMING SOON!</h2>


<footer>
    <p>&copy; 2026 Miranda Trent | <a href="https://www.linkedin.com/in/mirandaptrent/https://www.linkedin.com/in/mirandaptrent/">LinkedIn</a></p>
    <p class="tempest-quote">
        “We are such stuff / As dreams are made on, and our little life / Is rounded with a sleep.”
    </p>

    <p class="tempest-attribution">
        — Prospero, <em>The Tempest</em>, William Shakespeare
    </p>
</footer>
</Body>